/* FONTS */
/* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap");
/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
._container {
  max-width: 1200px;
  margin: 0 auto; }

.wrapper .header {
  -webkit-box-shadow: 0 0 20px 0 rgba(148, 148, 148, 0.25);
  box-shadow: 0 0 20px 0 rgba(148, 148, 148, 0.25); }
  .wrapper .header .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .wrapper .header .header__container .container__header-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 340px; }
      .wrapper .header .header__container .container__header-logo img {
        width: 162px;
        height: 30px; }
      .wrapper .header .header__container .container__header-logo p {
        max-width: 155px;
        height: 28px;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        line-height: 14.09px; }
    .wrapper .header .header__container .container__navigation-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .wrapper .header .header__container .container__navigation-links .container__social-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 115px; }
        .wrapper .header .header__container .container__navigation-links .container__social-links svg:last-child {
          padding-left: 17px; }
      .wrapper .header .header__container .container__navigation-links .container__message-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .wrapper .header .header__container .container__navigation-links .container__message-links .whatsapp-link {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .wrapper .header .header__container .container__navigation-links .container__message-links .whatsapp-link p {
            font-family: 'Montserrat',sans-serif;
            font-size: 12px;
            line-height: 14.69px;
            color: #C4C4C4;
            padding: 0 8px; }
        .wrapper .header .header__container .container__navigation-links .container__message-links .viber-link {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .wrapper .header .header__container .container__navigation-links .container__message-links .viber-link p {
            font-family: 'Montserrat',sans-serif;
            font-size: 12px;
            line-height: 14.69px;
            color: #C4C4C4;
            padding: 0 8px; }
    .wrapper .header .header__container .container__phone img {
      padding: 13.33px;
      background: -webkit-gradient(linear, left top, left bottom, from(#1D4FCF));
      background: -webkit-linear-gradient(#1D4FCF 0% #0586E8 100%);
      background: -o-linear-gradient(#1D4FCF 0% #0586E8 100%);
      background: linear-gradient(#1D4FCF 0% #0586E8 100%);
      border-radius: 100px;
      border: 1px solid #E5E5E5;
      cursor: pointer; }
      .wrapper .header .header__container .container__phone img:hover {
        -webkit-transform: rotateZ(90deg);
        -ms-transform: rotate(90deg);
        transform: rotateZ(90deg);
        -webkit-transition: 1s easeInSine;
        -o-transition: 1s easeInSine;
        transition: 1s easeInSine; }
