/* FONTS */
/* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap");
/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
._container {
  max-width: 1200px;
  margin: 0 auto; }

.wrapper .header {
  -webkit-box-shadow: 0 0 20px 0 rgba(148, 148, 148, 0.25);
  box-shadow: 0 0 20px 0 rgba(148, 148, 148, 0.25); }
  .wrapper .header .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .wrapper .header .header__container .container__header-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 340px; }
      .wrapper .header .header__container .container__header-logo img {
        width: 162px;
        height: 30px; }
      .wrapper .header .header__container .container__header-logo p {
        max-width: 160px;
        height: 28px;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        line-height: 14.09px;
        padding-left: 20px; }
    .wrapper .header .header__container .container__navigation-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-left: 270px; }
      .wrapper .header .header__container .container__navigation-links .container__social-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 115px; }
        .wrapper .header .header__container .container__navigation-links .container__social-links svg:last-child {
          padding-left: 17px; }
      .wrapper .header .header__container .container__navigation-links .container__message-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .wrapper .header .header__container .container__navigation-links .container__message-links .whatsapp-link {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          cursor: pointer; }
          .wrapper .header .header__container .container__navigation-links .container__message-links .whatsapp-link p {
            font-family: 'Montserrat',sans-serif;
            font-size: 12px;
            line-height: 14.69px;
            color: #C4C4C4;
            padding: 0 8px; }
        .wrapper .header .header__container .container__navigation-links .container__message-links .viber-link {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          cursor: pointer; }
          .wrapper .header .header__container .container__navigation-links .container__message-links .viber-link p {
            font-family: 'Montserrat',sans-serif;
            font-size: 12px;
            line-height: 14.69px;
            color: #C4C4C4;
            padding: 0 8px; }
    .wrapper .header .header__container .container__phone {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 209px; }
      .wrapper .header .header__container .container__phone img {
        padding: 13.33px;
        background: -webkit-gradient(linear, left top, left bottom, from(#1D4FCF));
        background: -webkit-linear-gradient(#1D4FCF 0% #0586E8 100%);
        background: -o-linear-gradient(#1D4FCF 0% #0586E8 100%);
        background: linear-gradient(#1D4FCF 0% #0586E8 100%);
        border-radius: 100px;
        border: 1px solid #E5E5E5;
        cursor: pointer;
        margin-right: 21px; }
        .wrapper .header .header__container .container__phone img:hover {
          -webkit-transition: margin-left 2s;
          -o-transition: margin-left 2s;
          transition: margin-left 2s;
          -webkit-transform: rotateZ(90deg);
          -ms-transform: rotate(90deg);
          transform: rotateZ(90deg); }
      .wrapper .header .header__container .container__phone .container__phone-number a {
        color: black;
        font-family: sans-serif;
        font-size: 18px;
        line-height: 21.33px;
        font-weight: bold; }
      .wrapper .header .header__container .container__phone .container__phone-number p {
        font-family: 'Raleway', sans-serif;
        color: #000000;
        font-size: 14px;
        line-height: 16.44px;
        margin: 0; }

.wrapper .main .main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .wrapper .main .main__container .container__description-main {
    position: relative;
    z-index: 1; }
    .wrapper .main .main__container .container__description-main span {
      font-weight: bold; }
    .wrapper .main .main__container .container__description-main .container__description {
      padding-top: 100px; }
      .wrapper .main .main__container .container__description-main .container__description h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        line-height: 36.57px;
        letter-spacing: 2%;
        font-weight: 700;
        min-width: 680px; }
        .wrapper .main .main__container .container__description-main .container__description h3 span {
          color: #0586e8; }
      .wrapper .main .main__container .container__description-main .container__description p {
        font-family: 'Raleway',sans-serif;
        font-size: 18px;
        max-width: 463px; }
    .wrapper .main .main__container .container__description-main ._advantages {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .wrapper .main .main__container .container__description-main ._advantages img {
        padding-right: 15px;
        width: 40px;
        height: 40px; }
      .wrapper .main .main__container .container__description-main ._advantages p {
        font-weight: 400;
        font-size: 14px;
        line-height: 16.44px;
        font-family: 'Raleway'; }
    .wrapper .main .main__container .container__description-main .container__advantages .container__buldozer {
      padding-top: 56px; }
      .wrapper .main .main__container .container__description-main .container__advantages .container__buldozer p {
        max-width: 108px; }
    .wrapper .main .main__container .container__description-main .container__advantages .container__snowing {
      padding: 32px 0; }
  .wrapper .main .main__container .container__services .container__img-background .img__background {
    position: relative;
    z-index: 1;
    padding: 90px 0 0 138px; }
  .wrapper .main .main__container .container__services .container__img-background .img__bulldozer {
    position: relative;
    z-index: 2;
    margin: -430px 0 0 -220px; }
  .wrapper .main .main__container .container__services .container__discount-border {
    margin-left: -200px;
    margin-top: -100px;
    max-width: 843px;
    height: 180px;
    -webkit-box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23);
    box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23);
    border-radius: 20px;
    position: relative;
    z-index: 3; }
    .wrapper .main .main__container .container__services .container__discount-border .container__discount {
      max-width: 654px;
      margin: 9px auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .wrapper .main .main__container .container__services .container__discount-border .container__discount .container__discount-text h3 {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        line-height: 28.18px; }
        .wrapper .main .main__container .container__services .container__discount-border .container__discount .container__discount-text h3 span {
          color: #0586e8; }
      .wrapper .main .main__container .container__services .container__discount-border .container__discount .container__discount-text .container__input {
        font-size: 12px;
        font-family: 'Raleway';
        color: #656565;
        line-height: 14.4px; }
      .wrapper .main .main__container .container__services .container__discount-border .container__discount .container__discount-tel .input__tel {
        max-width: 277px;
        height: 50px; }
        .wrapper .main .main__container .container__services .container__discount-border .container__discount .container__discount-tel .input__tel input {
          font-family: 'Raleway';
          font-size: 14px;
          line-height: 16.44px; }

.wrapper .main .container__list-works {
  padding-top: 60px; }
  .wrapper .main .container__list-works h3 {
    color: #0586E8;
    font-size: 30px;
    font-family: 'Raleway';
    line-height: 35.22px;
    letter-spacing: 2px;
    font-weight: 800; }
  .wrapper .main .container__list-works ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0; }
    .wrapper .main .container__list-works ul .list-works {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23);
      box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23);
      padding: 15px 20px 15px 20px;
      border-radius: 20px; }
      .wrapper .main .container__list-works ul .list-works p {
        padding-left: 16px; }

.wrapper .main .container__technic {
  padding-top: 140px; }
  .wrapper .main .container__technic .container__technic-special h3 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 30px;
    line-height: 35.22px;
    letter-spacing: 2px;
    color: #0586E8;
    text-align: center; }
  .wrapper .main .container__technic .container__technic-special .container__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .wrapper .main .container__technic .container__technic-special .container__slide .container__vehicle {
      -webkit-box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23);
      box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23);
      border-radius: 20px;
      min-width: 278px;
      min-height: 360px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .wrapper .main .container__technic .container__technic-special .container__slide .container__vehicle img {
        padding-top: 39px;
        width: 220px;
        height: 184px; }
      .wrapper .main .container__technic .container__technic-special .container__slide .container__vehicle p {
        padding-top: 30px;
        max-width: 182px;
        min-height: 38px;
        text-align: center;
        font-family: 'Raleway';
        font-size: 16px;
        line-height: 18.78px;
        color: #000000;
        font-weight: 600; }
      .wrapper .main .container__technic .container__technic-special .container__slide .container__vehicle span {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 20px;
        line-height: 23.48px;
        text-align: center;
        color: #0586E8; }

.wrapper .main .container__price {
  padding-top: 140px; }
  .wrapper .main .container__price .container__price-header h3 {
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 800;
    line-height: 35.22px;
    letter-spacing: 2px;
    text-align: center;
    color: #0586E8; }
  .wrapper .main .container__price .container__price-header .container__price-conditions {
    margin-top: 58px;
    -webkit-box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23);
    box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23);
    border-radius: 20px; }
    .wrapper .main .container__price .container__price-header .container__price-conditions ul {
      border-radius: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0;
      min-height: 64px; }
      .wrapper .main .container__price .container__price-header .container__price-conditions ul li {
        font-family: 'Raleway';
        font-size: 16px;
        line-height: 18.78px;
        text-align: center;
        font-weight: 600; }
    .wrapper .main .container__price .container__price-header .container__price-conditions .head__price {
      -webkit-box-shadow: 0 4px 4px 0 rgba(141, 149, 165, 0.1);
      box-shadow: 0 4px 4px 0 rgba(141, 149, 165, 0.1);
      border-radius: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0;
      min-height: 64px; }
      .wrapper .main .container__price .container__price-header .container__price-conditions .head__price li {
        color: #0586E8; }

.wrapper .main .btn__order {
  padding-top: 40px;
  text-align: center; }
  .wrapper .main .btn__order .order {
    background-color: #0586E8;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #ffffff;
    padding: 15px 103px; }
    .wrapper .main .btn__order .order:hover {
      background-color: #ffffff;
      color: #0586E8;
      border: 1px solid #0586E8; }

.wrapper .main .container__our-work {
  padding-top: 70px; }
  .wrapper .main .container__our-work .container__description-work h3 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 30px;
    line-height: 35.22px;
    letter-spacing: 2px;
    color: #0586E8;
    text-align: center; }
  .wrapper .main .container__our-work .container__description-work .container__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .wrapper .main .container__our-work .container__description-work .container__box .container__our-description {
      margin-top: 58px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 585px;
      min-height: 360px;
      border-radius: 20px;
      -webkit-box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23);
      box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23); }
      .wrapper .main .container__our-work .container__description-work .container__box .container__our-description img {
        width: 292px;
        height: 360px;
        border-radius: 20px; }
    .wrapper .main .container__our-work .container__description-work .container__box .container__description-our-work {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .wrapper .main .container__our-work .container__description-work .container__box .container__description-our-work span {
        color: #0586E8;
        font-family: 'Raleway';
        font-size: 20px;
        line-height: 23.48px;
        font-weight: 700;
        padding-top: 48px;
        padding-left: 30px; }
      .wrapper .main .container__our-work .container__description-work .container__box .container__description-our-work h4 {
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 16px;
        line-height: 18.78px;
        max-width: 177px;
        min-height: 38px;
        padding-left: 30px; }
      .wrapper .main .container__our-work .container__description-work .container__box .container__description-our-work ul li {
        font-family: 'Raleway';
        font-size: 14px;
        font-weight: 400;
        line-height: 16.44px;
        list-style: disc;
        padding: 5px; }

.wrapper .footer {
  padding-top: 90px; }
  .wrapper .footer .container__footer {
    -webkit-box-shadow: 0 -10px 20px 0 rgba(148, 148, 148, 0.25);
    box-shadow: 0 -10px 20px 0 rgba(148, 148, 148, 0.25); }
    .wrapper .footer .container__footer .container__footer-head .container__navigation {
      padding-top: 31px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .wrapper .footer .container__footer .container__footer-head .container__navigation .container__footer-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .wrapper .footer .container__footer .container__footer-head .container__navigation .container__footer-logo p {
          padding-left: 20px;
          max-width: 160px;
          font-family: 'Raleway';
          font-size: 12px;
          font-weight: 400;
          line-height: 14.09px; }
      .wrapper .footer .container__footer .container__footer-head .container__navigation .container__phones {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 209px; }
        .wrapper .footer .container__footer .container__footer-head .container__navigation .container__phones img {
          padding: 13.33px;
          background: -webkit-gradient(linear, left top, left bottom, from(#1D4FCF));
          background: -webkit-linear-gradient(#1D4FCF 0% #0586E8 100%);
          background: -o-linear-gradient(#1D4FCF 0% #0586E8 100%);
          background: linear-gradient(#1D4FCF 0% #0586E8 100%);
          border-radius: 100px;
          border: 1px solid #E5E5E5;
          cursor: pointer;
          margin-right: 21px; }
          .wrapper .footer .container__footer .container__footer-head .container__navigation .container__phones img:hover {
            -webkit-transition: margin-left 2s;
            -o-transition: margin-left 2s;
            transition: margin-left 2s;
            -webkit-transform: rotateZ(90deg);
            -ms-transform: rotate(90deg);
            transform: rotateZ(90deg); }
        .wrapper .footer .container__footer .container__footer-head .container__navigation .container__phones .container__phone-number a {
          color: black;
          font-family: sans-serif;
          font-size: 18px;
          line-height: 21.33px;
          font-weight: bold; }
        .wrapper .footer .container__footer .container__footer-head .container__navigation .container__phones .container__phone-number p {
          font-family: 'Raleway', sans-serif;
          color: #000000;
          font-size: 14px;
          line-height: 16.44px;
          margin: 0; }
    .wrapper .footer .container__footer .container__footer-head .container__icons-socials {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 18px; }
      .wrapper .footer .container__footer .container__footer-head .container__icons-socials .container__social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 59px;
        height: 22px;
        cursor: pointer; }
      .wrapper .footer .container__footer .container__footer-head .container__icons-socials .container__message {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 166px;
        height: 18px; }
        .wrapper .footer .container__footer .container__footer-head .container__icons-socials .container__message .link-whatsapp {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          cursor: pointer; }
          .wrapper .footer .container__footer .container__footer-head .container__icons-socials .container__message .link-whatsapp P {
            color: #C4C4C4; }
        .wrapper .footer .container__footer .container__footer-head .container__icons-socials .container__message .link-viber {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          cursor: pointer; }
          .wrapper .footer .container__footer .container__footer-head .container__icons-socials .container__message .link-viber p {
            color: #C4C4C4; }
    .wrapper .footer .container__footer .container__footer-head .container__political {
      padding-top: 40px;
      padding-bottom: 31px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .wrapper .footer .container__footer .container__footer-head .container__political p {
        font-size: 12px;
        font-family: 'Raleway';
        line-height: 14.09px;
        font-weight: 400;
        max-width: 215px;
        color: black; }
