/* FONTS */

/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap');

/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


._container {
    max-width: 1200px;
    margin: 0 auto;
}


.wrapper {
    // header 
    .header {
        box-shadow: 0 0 20px 0 rgba(148, 148, 148, 0.25);
        .header__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .container__header-logo {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 340px;
                img {
                    width: 162px;
                    height: 30px;
                }
                p {
                    max-width: 160px;
                    height: 28px;
                    font-family: 'Raleway', sans-serif;
                    font-size: 12px;
                    line-height: 14.09px;
                    padding-left: 20px;
                }
            }
            .container__navigation-links {
                display: flex;
                align-items: center;
                padding-left: 270px;
                .container__social-links {
                    display: flex;
                    align-items: center;
                    padding-right: 115px;
                    svg:last-child {
                        padding-left: 17px;
                    }
                }
                .container__message-links {
                    display: flex;
                    align-items: center;
                    .whatsapp-link {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        p {
                            font-family: 'Montserrat',sans-serif;
                            font-size: 12px;
                            line-height: 14.69px;
                            color: #C4C4C4;
                            padding: 0 8px;
                        }
                    }
                    .viber-link {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        p {
                            font-family: 'Montserrat',sans-serif;
                            font-size: 12px;
                            line-height: 14.69px;
                            color: #C4C4C4;
                            padding: 0 8px;
                        }
                    }
                }
            }
            .container__phone {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 209px;
                img {
                    padding: 13.33px;
                    background: linear-gradient(#1D4FCF 0% #0586E8 100%);
                    border-radius: 100px;
                    border: 1px solid #E5E5E5;
                    cursor: pointer;
                    margin-right: 21px;
                    &:hover {
                        transition: margin-left 2s;
                        transform: rotateZ(90deg);
                    }
                }
                .container__phone-number {
                    a {
                        color: rgba(0, 0, 0, 1);
                        font-family:sans-serif;
                        font-size: 18px;
                        line-height: 21.33px;
                        font-weight: bold;

                    }
                    p {
                        font-family: 'Raleway', sans-serif;
                        color: #000000;
                        font-size: 14px;
                        line-height: 16.44px;
                        margin: 0;
                    }
                }
            }
        }
    }
    // main
    .main {
        .main__container {
            display: flex;
            justify-content: space-between;
            .container__description-main {
                position: relative;
                z-index: 1;
                span {
                    font-weight: bold;
                }
                .container__description {
                    padding-top: 100px;
                    h3 {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 30px;
                        line-height: 36.57px;
                        letter-spacing: 2%;
                        font-weight: 700;
                        min-width: 680px;
                        span { 
                            color: rgba(5, 134, 232, 1);
                        }
                    }
                    p {
                        font-family: 'Raleway',sans-serif;
                        font-size: 18px;
                        max-width: 463px;
                    }
                }
                ._advantages {
                    display: flex;
                    align-items: center;
                    img {
                        padding-right: 15px;
                        width: 40px;
                        height: 40px;
                    }
                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16.44px;
                        font-family: 'Raleway';
                    }
                }
                .container__advantages {
                    .container__buldozer {
                        padding-top: 56px;
                        p {
                            max-width: 108px;
                        }
                    }
                    .container__snowing {
                        padding: 32px 0;
                    }
                }
            }
            .container__services {
                .container__img-background {
                    .img__background {
                        position: relative;
                        z-index: 1;
                        padding: 90px 0 0 138px;
                    }
                    .img__bulldozer {
                        position: relative;
                        z-index: 2;
                        margin: -430px 0 0 -220px;
                    }
                }
                .container__discount-border {
                    margin-left: -200px;
                    margin-top: -100px;
                    max-width: 843px;
                    height: 180px;
                    box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23);
                    border-radius: 20px;
                    position: relative;
                    z-index: 3;
                    .container__discount {
                        max-width: 654px;
                        margin: 9px auto;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        .container__discount-text {
                            h3 {
                                font-family: 'Raleway';
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 28.18px;
                                span {
                                    color: rgba(5, 134, 232, 1);
                                }
                            }
                            .container__input {
                                font-size: 12px;
                                font-family: 'Raleway';
                                color: #656565;
                                line-height: 14.4px;
                            }
                        }
                        .container__discount-tel {
                            .input__tel {
                                max-width: 277px;
                                height: 50px;
                                input {
                                    font-family: 'Raleway';
                                    font-size: 14px;
                                    line-height: 16.44px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .container__list-works {
            padding-top: 60px;
            h3 {
                color: #0586E8;
                font-size: 30px;
                font-family: 'Raleway';
                line-height: 35.22px;
                letter-spacing: 2px;
                font-weight: 800;
            }
            ul {
                display: flex;
                justify-content: space-between;
                padding: 0;
                .list-works {
                    display: flex;
                    align-items: center;
                    box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23);
                    padding: 15px 20px 15px 20px;
                    border-radius: 20px;
                    p {
                    padding-left: 16px;
                    }
                }
            }
        }
        .container__technic {
            padding-top: 140px;
            .container__technic-special {
                h3 {
                    font-family: 'Raleway';
                    font-weight: 800;
                    font-size: 30px;
                    line-height: 35.22px;
                    letter-spacing: 2px;
                    color: #0586E8;
                    text-align: center;
                }
                .container__slide {
                    display: flex;
                    justify-content: space-between;
                    .container__vehicle {
                        box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23);
                        border-radius: 20px;
                        min-width: 278px;
                        min-height: 360px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img {
                            padding-top: 39px;
                            width: 220px;
                            height: 184px;
                        }
                        p {
                            padding-top: 30px;
                            max-width: 182px;
                            min-height: 38px;
                            text-align: center;
                            font-family: 'Raleway';
                            font-size: 16px;
                            line-height: 18.78px;
                            color: #000000;
                            font-weight: 600;
                        }
                        span {
                            font-family: 'Raleway';
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 23.48px;
                            text-align: center;
                            color: #0586E8;
                        }
                    }
                }
            }
        }
        .container__price {
            padding-top: 140px;
            .container__price-header {
                h3 {
                    font-family: 'Raleway';
                    font-size: 30px;
                    font-weight: 800;
                    line-height: 35.22px;
                    letter-spacing: 2px;
                    text-align: center;
                    color: #0586E8;
                }
                .container__price-conditions {
                    margin-top: 58px;
                    box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23);
                    border-radius: 20px;
                    ul {
                        border-radius: 20px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 0;
                        min-height: 64px;
                        li {
                            font-family: 'Raleway';
                            font-size: 16px;
                            line-height: 18.78px;
                            text-align: center;
                            font-weight: 600;
                        }
                    }
                    .head__price {
                        box-shadow: 0 4px 4px 0 rgba(141, 149, 165, 0.1);
                        border-radius: 20px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 0;
                        min-height: 64px;
                        li {
                            color: #0586E8;
                        }
                    }
                }
            }
        }
        .btn__order {
            padding-top: 40px;
            text-align: center;
            .order {
                background-color: #0586E8;
                border: 1px solid transparent;
                border-radius: 10px;
                color: #ffffff;
                padding: 15px 103px;
                &:hover {
                    background-color: #ffffff;
                    color: #0586E8;
                    border: 1px solid #0586E8;
                }
            }
        }
        .container__our-work {
            padding-top: 70px;
            .container__description-work {
                h3 {
                    font-family: 'Raleway';
                    font-weight: 800;
                    font-size: 30px;
                    line-height: 35.22px;
                    letter-spacing: 2px;
                    color: #0586E8;
                    text-align: center;
                }
                .container__box {
                display: flex;
                justify-content: space-around;    
                .container__our-description {
                        margin-top: 58px;
                        display: flex;
                        max-width: 585px;
                        min-height: 360px;
                        border-radius: 20px;
                        box-shadow: 0 0 30px 0 rgba(141, 149, 165, 0.23);
                        img {
                            width: 292px;
                            height: 360px;
                            border-radius: 20px;
                        }
                    }
                    .container__description-our-work {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        span {
                            color:#0586E8;
                            font-family: 'Raleway';
                            font-size: 20px;
                            line-height: 23.48px;
                            font-weight: 700;
                            padding-top: 48px;
                            padding-left: 30px;
                        }
                        h4 {
                            font-family: 'Raleway';
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 18.78px;
                            max-width: 177px;
                            min-height: 38px;
                            padding-left: 30px;
                        }
                        ul {
                            li{
                                font-family: 'Raleway';
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 16.44px;
                                list-style: disc;
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        padding-top: 90px;
        .container__footer {
            box-shadow: 0 -10px 20px 0 rgba(148, 148, 148, 0.25);
            .container__footer-head {
                .container__navigation {
                    padding-top: 31px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .container__footer-logo {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p {
                            padding-left: 20px;
                            max-width: 160px;
                            font-family: 'Raleway';
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 14.09px;
                        }
                    }
                    .container__phones {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        max-width: 209px;
                        img {
                            padding: 13.33px;
                            background: linear-gradient(#1D4FCF 0% #0586E8 100%);
                            border-radius: 100px;
                            border: 1px solid #E5E5E5;
                            cursor: pointer;
                            margin-right: 21px;
                            &:hover {
                                transition: margin-left 2s;
                                transform: rotateZ(90deg);
                            }
                        }
                        .container__phone-number {
                            a {
                                color: rgba(0, 0, 0, 1);
                                font-family:sans-serif;
                                font-size: 18px;
                                line-height: 21.33px;
                                font-weight: bold;

                            }
                            p {
                                font-family: 'Raleway', sans-serif;
                                color: #000000;
                                font-size: 14px;
                                line-height: 16.44px;
                                margin: 0;
                            }
                        }
                    }
                }
                .container__icons-socials {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 18px;
                    .container__social {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 59px;
                        height: 22px;
                        cursor: pointer;
                    }
                    .container__message {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 166px;
                        height: 18px;
                        .link-whatsapp {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            P {
                                color: #C4C4C4;
                            }
                        }
                        .link-viber {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            p {
                                color: #C4C4C4;
                            }
                        }
                    }
                }
                .container__political {
                    padding-top: 40px;
                    padding-bottom: 31px;
                    display: flex;
                    justify-content: space-between;
                   p {
                    font-size: 12px;
                    font-family: 'Raleway';
                    line-height: 14.09px;
                    font-weight: 400;
                    max-width: 215px;
                    color: rgba(0, 0, 0, 1);
                   } 
                }
            }
        }
    }
}





